@import "colorschemes/default.css";

* {
	border: none;
	border-radius: 0;
	font-family: "Inter Nerd Font", "icomoon-feather";
	font-size: 13px;
	font-weight: bold; 
	min-height: 0;
}

window#waybar { 
	background-color: transparent;
}

#workspaces {
	margin: 0 4px;
}

#workspaces button {
	padding: 0 4px;
	min-width: 20px;
	color: @base04;
}

#workspaces button.focused {
	color: @base0D;
}

#workspaces button.urgent {
	color: @base09;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0);
}

tooltip { 
	background-color: @base00;
	border-radius: 5px;
}

tooltip label {
	padding: 5px;
}

#battery,
#memory,
#network,
#pulseaudio,
#tray,
#custom-media,
#custom-spotify,
#window {
 	padding: 0 5px;
    margin: 1px 1px;
}

#battery,
#battery.charging,
#battery.plugged {
	color: @base05;
}

#network {
	color: @base02;
}

#pulseaudio,
#pulseaudio.muted {
	color: @base09;
}

#memory {
	color: @base03;
}

#clock { 
	color: @base04; 
}

#custom-media,
#custom-spotify {
	color: @base0A;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	background-color: @base01;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
