* {
	border: none;
	border-radius: 0;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
	font-weight: bold;
	min-height: 0;
}

window#waybar {
	background-color: rgb(45, 45, 45);
	color: #ffffff;
	padding: 5px 1px;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #f06292;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.5);
}

#workspaces button.focused {
	color: #42a5f5;
}

#workspaces button.active {
	color: #f06292;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

tooltip {
	background-color: rgba(45, 45, 45, 0.8);
	border: 1px solid;
	border-color: #1e88e5;
	border-radius: 10px;
}

#mode {
	background-color: #64727d;
	border-bottom: 3px solid #ffffff;
}

#battery,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#tray,
#mode {
	padding: 0 4px;
	margin: 0 4px;
	color: #ffffff;
}

#network,
#battery {
	color: #81c784;
}

#network {
    font-size: 15px;
}

#network.disconnected {
    font-size: 14px;
}

#pulseaudio,
#pulseaudio.muted {
	color: #f48fb1;
}

#memory {
	color: #FFEE58;
}

#pulseaudio.muted {
     font-size: 15px;
}

#clock {
	color: #64b5f6;
}

#window {
	padding-left: 15px;
}

#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery.charging,
#battery.plugged {
	color: #ffffff;
	/* background-color: #26A65B;*/
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}
